@media screen and (max-width: 320px),
screen and (max-width: 480px) {
    .container {
        width: 90%;
    }

    .container-form {
        &__group {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
        }

        &__input {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__button {
            padding: 5px;
        }
    }

    .container-data {
        &__info {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__img {
            margin-bottom: 10px;
        }

        &__containerInfoUser {
            margin-left: 0;
            text-align: center;
        }

        &__title{
            text-align:center;
        }

        &__fetch {
            flex-direction: column;
            align-items: center;
        }

        &__repoIcon {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 768px),
screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
}