@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
$error: #ff6961;

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans TC', sans-serif;
}

.container {
    width: 50%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;

    &__form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__group {
        width: 100%;
        margin: 20px 0;
        display: flex;
    }

    &__error {
        background-color: $error;
        padding-left: 20px;
    }

    &__loading {
        text-align: center;
        display: none;
    }

    &__input {
        width: 100%;
        margin-right: 10px;
    }

    &__button {
        font-weight: bold;
    }
}

.container-data {
    width: 80%;

    &__info {
        display: flex;
        margin-bottom: 20px;
    }

    &__img {
        width: 100px;
        height: 100px;
    }

    &__containerInfoUser {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }

    &__username {
        font-style: italic;
    }

    &__fullname {
        margin: 5px 0;
        padding: 5px 0;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__fetch {
        display: flex;
        padding: 10px;
        border-top: 1px solid black;
        justify-content: space-between;
    }

    &__repoTitle {
        font-weight: bold;
    }

    &__repoIcon {
        margin: 0 5px;
    }
}